.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}

input{
   border: 4px solid black;
   border-radius: 18px;
   font-size: 34px;
   color: white;
   background-color:skyblue ;
   height: 65px;
   width: 456px
   ;
}
button{
   border-radius: 20px;
   font-size: 40px;
   background-color: skyblue;
   width: 102px;
   height: 90px;
   margin: 6px;
   color: wheat;
   cursor: pointer;
}

.equal{

 background-color: green;
 color: black;
}
.div{
    background-color:orange ;
    color: black;
}
.dot{
    background-color: orange;
    color: black;
}
.plus{
    background-color: orange;
    color: black;
}
.minus{
    background-color: orange;
    color: black;
}
.into{
    background-color: orange;
    color: black;
}
.perc{
    background-color: orange;
    color: black;
}
.open{
    background-color: orange;
    color: black;
}
.close{
    background-color: orange;
    color: black;
}
.c{
    background-color: brown;
    color: black;
}
.calculator{
   border: 4px solid black;
   background-color:powderblue;
   padding: 23px;
   border-radius: 53px;
   display: inline-table;

}